<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="content">
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="material-icons md-36">face</i></div>
        <p class="title">Marcello Belli</p>
        <p class="text">Software Developer</p>

    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="material-icons md-36">face</i></div>
        <p class="title">Minguzzi Andrea</p>
        <p class="text">Software Developer</p>

    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="material-icons md-36">face</i></div>
        <p class="title">Giacomo Zoffoli</p>
        <p class="text">Software Developer</p>

    </div>

    <div class="card">

        <div class="icon"><i class="material-icons md-36">face</i></div>
        <p class="title">Diego Giovannini</p>
        <p class="text">Software Developer</p>

    </div>
    <!-- end card -->

</div>