<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        /* Inserisci qui il CSS aggiornato */
    </style>
    <title>Responsive Cards</title>
</head>
<body>
    <div class="content mt-2">
        <div class="card bg-black text-white border border-white">
            <div class="icon"><i class="material-icons md-36 text-white">face</i></div>
            <p class="title text-white">Marcello Belli</p>
            <p class="text text-white">Software Developer</p>
        </div>
        <div class="card bg-black text-white border border-white">
            <div class="icon"><i class="material-icons md-36 text-white">face</i></div>
            <p class="title text-white">Andrea Minguzzi</p>
            <p class="text text-white">Software Developer</p>
        </div>
        <div class="card bg-black text-white border border-white">
            <div class="icon"><i class="material-icons md-36 text-white">face</i></div>
            <p class="title text-white">Giacomo Zoffoli</p>
            <p class="text text-white">Software Developer</p>
        </div>
        <div class="card bg-black text-white border border-white">
            <div class="icon"><i class="material-icons md-36 text-white">face</i></div>
            <p class="title text-white">Diego Giovannini</p>
            <p class="text text-white">Software Developer</p>
        </div>
    </div>
</body>
</html>
