<div class="mb-4">
	<div class="card w-100 h-100">
		<app-carosello-immagini
			[id]="id"
			[immagini]="immagini"
			[titolo]="titolo"
		></app-carosello-immagini>
		<div class="card-body">
			<h5 class="card-title">{{ titolo }}</h5>
			<p class="card-text"><strong>Prezzo:</strong> {{ prezzo }} €</p>
			<p class="card-text">
				<strong>Stelle: </strong>
				<ng-container *ngFor="let star of getStarsArray(rating)">
					<span
						class="bi"
						[class.bi-star-fill]="star.isFilled"
						[class.bi-star-half]="star.isHalf"
						[class.text-warning]="star.isFilled || star.isHalf"
					></span>
				</ng-container>
			</p>
		</div>
		<div class="text-center">
			<button class="btn">Maggiori Informazioni</button>
			<button class="btn">+</button>
		</div>
	</div>
</div>
