<div class="container mt-2">
	<div class="row justify-content-center">
		<div class="col-md-5">
			<div class="container">
				<div class="input-group mb-4">
					<div class="input-group-prepend bottoneSearch">
						<button
							class="btn btn-outline-secondary bottoneSearch"
							type="button"
							(click)="
								searchInput.value = '';
								loadProducts(
									1,
									searchInput.value,
									categoria.value
								)
							"
						>
							<i class="fas fa-times"></i>
						</button>
					</div>

					<input
						type="text"
						#searchInput
						class="form-control CasellaRicerca"
						placeholder="Cerca..."
						(keyup.enter)="
							loadProducts(1, searchInput.value, categoria.value)
						"
					/>

					<div class="bottoneSearch">
						<button
							class="btn btn-outline-secondary bottoneSearch"
							type="button"
							(click)="
								loadProducts(
									1,
									searchInput.value,
									categoria.value
								)
							"
						>
							<i class="fas fa-search"></i>
						</button>
					</div>
				</div>
			</div>

			<div class="input-group">
				<select
					class="form-select categorie"
					#categoria
					id="category"
					(change)="
						loadProducts(1, searchInput.value, categoria.value)
					"
				>
					<option value="0"></option>
					<option value="0">Tutte</option>
					<option
						*ngFor="let category of categorie"
						[value]="category.id"
					>

						<option value="0">Tutte</option>
						<option
							*ngFor="let category of categorie"
							[value]="category.id"
							[selected]="category.id === choosenCat"
						>
							{{ category.name }}
						</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container mt-4">
	<div
		class="row row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-2 justify-content-center"
	>
		<ng-container *ngFor="let product of prodotti">
			<div class="mb-4">
				<app-card-prodotto [product]="product"></app-card-prodotto>
			</div>
		</ng-container>
	</div>
</div>

<nav
	aria-label="Pagine prodotti"
	class="d-flex justify-content-center mb-4 user-select-none"
>
	<ul class="pagination">
		<li class="page-item" [class.disabled]="isFirstPage()">
			<button
				class="page-link Footer"
				(click)="switchPage(-1)"
				aria-label="Previous"
				[attr.aria-disabled]="isFirstPage()"
			>
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Prev</span>
			</button>
		</li>
		<ng-container *ngFor="let page of pages">
			<li class="page-item" [class.active]="page === paginaCorrente">
				<button class="page-link Footer" (click)="goTo(page)">
					{{ page }}
				</button>
			</li>
		</ng-container>
		<li class="page-item" [class.disabled]="isLastPage()">
			<button
				class="page-link Footer"
				(click)="switchPage(+1)"
				aria-label="Next"
				[attr.aria-disabled]="isLastPage()"
			>
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">Next</span>
			</button>
		</li>
	</ul>
</nav>
