<div class="container mt-4">
    <div class="row row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-2 justify-content-center">
        <ng-container *ngFor="let product of prodotti">
            <div class="mb-4">
                <app-card-prodotto
                    [product]="product"
                   
                ></app-card-prodotto>
            </div>
        </ng-container>
    </div>
</div>

<nav aria-label="Pagine prodotti" class="d-flex justify-content-center mb-4 user-select-none">
    <ul class="pagination">
        <li class="page-item" [class.disabled]="isFirstPage()">
            <a class="page-link" (click)="switchPage(-1)" aria-label="Previous" [attr.aria-disabled]="isFirstPage()">
                <span class="sr-only">Prev</span>
            </a>
        </li>
        <ng-container *ngFor="let page of pages">
            <li class="page-item" [class.active]="page === paginaCorrente">
                <a class="page-link" (click)="loadProducts(page)">{{ page }}</a>
            </li>
        </ng-container>
        <li class="page-item" [class.disabled]="isLastPage()">
            <a class="page-link" (click)="switchPage(+1)" aria-label="Next" [attr.aria-disabled]="isLastPage()">
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>