<section class="h-100 gradient-custom">
	<div class="container py-5">
		<div class="row d-flex justify-content-center my-4">
			<div class="col-md-8">
				<div class="card bg-gray mb-4">
					<div class="card-header py-3">
						<h5 class="mb-0">Cart - {{ carrello.length }} items</h5>
					</div>
					<div
						class="card-body"
						*ngFor="let item of carrello"
					>
						<app-elemento-carrello
							[id]="item.idProduct"
							[quantita]="item.quantity"
						></app-elemento-carrello>

						<div class="card-footer py-3 align-items-center">
							<div class="d-flex justify-content-between">
								<h5>
									Totale -
									{{
										this.carrelloService.getTotale()
											| currency : "EUR"
									}}
								</h5>
								<a
									class="btn btn-success"
									[routerLink]="'checkout'"
									*ngIf="this.carrelloService.getTotale() > 0"
									>Checkout</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
