<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card bg-gray mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Cart - 2 items</h5>
          </div>
          <div class="card-body" *ngFor="let item of carrello,index as i">
            <!-- Single item -->
            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <!-- Image -->
                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                  <img src={{item.img}}
                    class="w-100" alt="Blue Jeans Jacket" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                  </a>
                </div>
                <!-- Image -->
              </div>

              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                <!-- Data -->
                <p><strong>{{item.nome}}</strong></p>
                <p>{{item.descrizione}}</p>
                <p>{{item.tipo}}</p>
                <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn bg-black btn-sm me-1 mb-2" data-mdb-tooltip-init
                  title="Remove item">
                  <img src="https://static-00.iconduck.com/assets.00/trash-bin-icon-2048x2048-duca73jv.png" alt="Remove item" height="20" width="20" style="filter: invert(100%)" >
                </button>
                <!-- Data -->
              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Quantity -->
                <div class="d-flex mb-4" style="max-width: 300px">

                  <!--Questo bottone non arriverà mai a 0 per rimuovere un item si usa il tasto con il bidone-->
                  <button data-mdb-button-init data-mdb-ripple-init class="btn bg-black px-3 me-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                  <span style="color: white">-</span>
                  </button>

                  <form [formGroup]="itemForm">
                    <div class="form-outline">
                      <input class="Quantità" id="form1" min="1" name="quantity" input="number" class="form-control" formControlName="quantity" [(ngModel)]="item.quantita" />
                    </div>
                  </form>

                  <button value="{{i}}" data-mdb-ripple-init class="btn bg-black px-3 ms-2" (click)="increment(1)">
                  <span style="color: white">+</span>
                  </button>
                  
                </div>
                <!-- Quantity -->

                <!-- Price -->
                <p class="text-start text-md-center">
                  <strong>{{(item.prezzo*item.quantita)|currency:("EUR")}}</strong>
                </p>
                <!-- Price -->
              </div>
            </div>
            
                <!-- Price -->
              </div>
            </div>
            <!-- Single item -->
          </div> 
        </div>
        
       


