<div class="container p-3 rounded CardProdotto" *ngIf="product">
	<div class="row">
		<div class="col-sm-4 p-1">
			<div class="img-fluid p-1">
				<app-carosello-immagini
					[id]="id"
					[immagini]="product.images"
					[titolo]="product.title"
				></app-carosello-immagini>
			</div>
		</div>
		<div class="col-sm-8 d-flex flex-column justify-content-between">
			<div class="mb-3">
				<div>
					<div class="product-title">{{ product.title }}</div>
						<div class="category rounded m">
							categoria: {{ product.category.name }}
						</div>
						<div class="rating">
							<app-stelle-rating
								[rating]="product.stars"
							></app-stelle-rating>
						</div>
						<div class="price">
							{{ product.price | currency : "EUR" }}
						</div>
						<div class="description rounded">
						<p>{{ product.description }}</p>
					</div>
				</div>
			</div>
			<div class="mt-3 d-flex justify-content-end">
				<button
					type="button"
					class="btn btn-lg rounded Bottone"
					(click)="addToCart()"
				>
					Aggiungi al carrello
				</button>
			</div>
		</div>
	</div>
</div>
